.div1{
    background-color:rgb(50, 184, 184);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2{
    background-color: white;
    margin-top: 50px;
    height: 65vh;
    width: 25%;
    box-shadow: 2px 2px 2px #aaaa;
    border-radius: 10px;
}
.div3{
    background-color: rgb(39, 160, 160);
    width: 100%;
    height: 20vh;
}
.img2{
    margin-left: 100px;
    margin-top: 70px;
    width: 130px;
    height: 130px
}
.p1{
    text-align: center;
}
li{
    display: inline;
}
.div5 {
    padding-left: 30px;
    font-size: 25px;
}
.div6{
    padding-left: 20px;
}