.div1{
    background-color:rgb(50, 184, 184);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div2{
    background-color: white;
    margin-top: 50px;
    height: 65vh;
    box-shadow: 2px 2px 2px rgba(88, 87, 87, 0.667);
    border-radius: 10px;
}
.div3{
    background-color: rgb(39, 160, 160);
    width: 100%;
    height: 20vh;
    border-radius: 10px 10px 0 0;
}
.img2{
    margin-left: 100px;
    margin-top: 70px;
    width: 130px;
    height: 130px;
    align-items: center;
}
.p1{
    text-align: center;
}
li{
    display: inline;
    text-align: center;
    align-items: center;
}